In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime
import calendar
import os
import matplotlib.pyplot as plt

In [13]:
! ls -la

total 16
drwxr-xr-x@  6 terekhind  staff   192 Mar  7 12:52 .
drwxr-xr-x  18 terekhind  staff   576 Mar  7 12:44 ..
drwxr-xr-x@ 13 terekhind  staff   416 Mar  7 12:44 .git
drwxr-xr-x@  3 terekhind  staff    96 Mar  7 12:45 .ipynb_checkpoints
-rw-r--r--@  1 terekhind  staff    29 Mar  7 12:44 README.md
-rw-r--r--@  1 terekhind  staff  3236 Mar  7 12:52 data_analytics.ipynb

In [16]:
path = '../01_Blog_Feedback'

In [75]:
def get_files(path, test_dataset = False):
    df = pd.DataFrame()
    
    for filename in os.listdir(path):
        
        if test_dataset is True:
            if filename in ['blogData_train.csv', 'README.txt']:
                pass
            else:
                file = os.path.join(path, filename)
                temporaly_df = pd.read_csv(f'{file}', header=None)
                df = pd.concat([df, temporaly_df], ignore_index=True)
                
        else:
            if filename == 'blogData_train.csv':
                file = os.path.join(path, filename)
                df = pd.read_csv(f'{file}', header=None)
    return df

In [76]:
df_train = get_files(path) # Train dataset

In [77]:
df_train.shape

(52397, 281)

In [78]:
df_test = get_files(path, test_dataset = True) # Train dataset

In [79]:
df_test.shape

(7624, 281)

In [80]:
df_test.shape[0] / df_train.shape[0]  # 14,5 % is test_dataset

0.14550451361719183

In [46]:
df_test.tail()

,0,1,2,3,4,5,6,7,8,9,...,271,272,273,274,275,276,277,278,279,280
7619,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7620,6.004717,37.53244,0.0,347.0,0.0,2.603774,19.723646,0.0,223.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7621,38.200640,75.51692,0.0,723.0,15.0,16.194221,44.316776,0.0,547.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,14.0
7622,9.080925,11.22880,0.0,97.0,6.0,3.641618,6.549403,0.0,97.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7623,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
df_test.shape

(7624, 281)

In [36]:
test = pd.read_csv('../01_Blog_Feedback/blogData_test-2012.02.28.00_00.csv', header=None)

In [37]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,271,272,273,274,275,276,277,278,279,280
0,0.102564,0.441145,0.0,2.0,0.0,0.051282,0.316124,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12.952789,23.260280,0.0,168.0,4.0,4.995708,13.574622,0.0,142.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
2,43.435825,75.590485,0.0,634.0,20.0,15.998589,44.560870,0.0,473.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.689655,48.727320,0.0,300.0,0.0,3.747126,23.105066,0.0,189.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [38]:
serias = [test[0]]

[0      0.102564
 1     12.952789
 2     43.435825
 3      9.689655
 4      0.000000
         ...
 90     0.000000
 91     6.004717
 92    38.200640
 93     9.080925
 94     0.000000
 Name: 0, Length: 95, dtype: float64]